.App {
  background-color: #e0e0e0;
  min-height: 100vh;
}

.Messages {

}

.Users {
  position: absolute;
  right: 0;
  top: 0;
  padding: 25px;
}

.Input {
  position: absolute;
  bottom: 0;
  padding: 25px;
  left: 0;
  width: 100%;
}

.Login {
  position: absolute;
  top: 0;
  z-index: 1;
  background: rgba(0,0,0,0.9);
}


